{% extends "base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| 403 Forbidden</title>
{% else %}
{% block title %}403 Forbidden{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">403 Forbidden</h2>
<p>It looks like you dont have permission to view this page.</p>
{% endblock content %}
{% endpartialdef %}
{% partial page-partial %}