{% extends "base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| 500 Server Error</title>
{% else %}
{% block title %}500 Server Error{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<section>
    <h2>500 Server Error</h2>
    <p>It looks like there has been an internal error.</p>
</section>
{% endblock content %}
{% endpartialdef %}
{% partial page-partial %}