<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load socialaccount %}
<html lang="en">
    <head>
        <title>AWQA| {% block title %}{% endblock title %}</title>
      
        <!-- Meta -->
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        {% block meta %}{% endblock meta %}

        <!-- CSS -->
        <link rel="icon" href="{% static 'logo.webp' %}" type="image/x-icon">
        <link rel='stylesheet' type='text/css' href="{% static 'base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css" />


        {% block css %}{% endblock css %}

        <!-- JS -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script>
        <script defer src="{% static 'packages/htmx.min.js' %}"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/shoelace-autoloader.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MET29XJHWQ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MET29XJHWQ');
        </script>
        {% block js %}{% endblock js %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}
        <header {% if user.is_authenticated %}x-data="{open:false}"{% else %}x-data="{open:true}"{% endif %}>
            <section class="flexContainer">
                <h1 id="appTitle">AWQA</h1>
                <sl-button style="line-height: 104px;" :class="{'active': open}" x-text="open ? 'Close Menu': 'Open Menu'" @click="open = ! open"></sl-button>
            </section>
            <nav class="itemContainer" x-cloak x-show="open" @click.outside="open = false" x-transition.delay.40ms>
                <ul id="appNav">
                    {% include "includes/app_nav.html" %}
                </ul>
            </nav>
        </header>

        {% include "includes/messages.html" %}

        {% include "includes/breadcrumbs.html" %}

        <main id="pageContainer">
            {% block content %}
            {% endblock content %}
        </main>

        {% endblock body %}

        {% block extra_body %}
        {% endblock extra_body %}

        <footer>
            <article>
                <h4>We Value Your Feedback!</h4>
                <p>
                    Whether it's suggestions, bug reports, or general comments, your feedback helps us grow.
                </p>
                <p>
                    <b>Please share your thoughts with us:</b>
                    <a href="mailto:">johngwebdev@awqanalytics.com</a>
                </p>
                <br>
            </article>
                
            <hr>
            <span class="footerItem">Copyright &bull; &copy; {% now "Y" %} | </span>
            {% url "privacy-policy" as privacy_policy %}
            {% if privacy_policy %}
                <a class="footerItem" href="{{ privacy_policy }}">Privacy Policy</a>
            {% endif %}
        </footer>

        {% block footer_js %}
        {% endblock footer_js %}
        {% load tz_detect %}
        {% tz_detect %}
    </body> 
</html>