<sl-card class="cardWidget">
    <h3 slot="header">Recent Log Entries</h3>
    <ul>
    {% for object in object_list %}
        <li><a hx-get="{% url 'water_quality_management:log-entry-detail' object.pk %}" hx-target="#pageContainer" hx-push-url="true">{{ object.date_created }}</a></li>
    {% endfor %}
    </ul>
    <sl-button style="width: 100%;" variant="primary" slot="footer" hx-get="{% url 'water_quality_management:log-entry-list' user.pk %}" hx-target="#pageContainer" hx-push-url="true">View All</sl-button>
</sl-card>