{% extends "../base.html" %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Update Profile</title>
{% else %}
{% block title %}Update Profile{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<section>
    <h2>Update Profile</h2>
    <form id="aquariumForm" hx-post="{% url 'accounts:update-user-profile' object.pk %}" hx-target="#pageContainer" hx-push-url="true">{% csrf_token %}
        {{ form.as_p }}
    </form>
    <div class="flexContainer">
        <input form="aquariumForm" class="button" type="submit" value="Save">
        <a class="button" href="{% url 'accounts:user-profile' user.pk %}" hx-target="#pageContainer" hx-push-url="true">Cancel</a>
    </div>
</section>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}