{% extends "../base.html" %}
{% load i18n %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Profile{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Profile</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<section class="flexContainer">
    <h2>{{ object }}</h2>
    <sl-dropdown>
        <sl-icon-button name="gear" label="Settings" slot="trigger" style="font-size: 2em; margin-top: 20px; background-color: white; border-radius: 5px; border: 1px solid lightgrey;"></sl-icon-button>
        <sl-menu>
            <sl-menu-label>General</sl-menu-label>
            <sl-menu-item hx-get="{% url 'accounts:update-user-profile' object.pk %}" hx-target="#pageContainer" hx-push-url="true">Update Profile</sl-menu-item>
            <sl-menu-item hx-get="{% url 'accounts:delete-user-profile' object.pk %}" hx-target="#pageContainer" hx-push-url="true">Delete Account</sl-menu-item>
            <sl-divider></sl-divider>
            <sl-menu-label>Registration</sl-menu-label>
            {% url 'account_email' as email_url %}
            {% if email_url %}
                <sl-menu-item hx-get="{{ email_url }}" hx-target="#pageContainer" hx-push-url="true">{% trans "Change Email" %}</sl-menu-item>
            {% endif %}
            {% url 'account_change_password' as change_password_url %}
            {% if change_password_url %}
                <sl-menu-item hx-get="{{ change_password_url }}" hx-target="#pageContainer" hx-push-url="true">{% trans "Change Password" %}</sl-menu-item>
            {% endif %}
            {% url 'socialaccount_connections' as connections_url %}
            {% if connections_url %}
                <sl-menu-item hx-get="{{ connections_url }}" hx-target="#pageContainer" hx-push-url="true">{% trans "Account Connections" %}</sl-menu-item>
            {% endif %}
        </sl-menu>
    </sl-dropdown>
</section>

<sl-card style="display: block; max-width: 600px; margin: auto;">
    <p><b>Date Joined:</b> {{ object.date_joined }}</p>
    <p><b>Last Login:</b> {{ object.last_login }}</p>
</sl-card>
<br>
<section class="widgetContainer">
    {% include "water_quality_management/includes/recent_aquariums_list.html" with object_list=aquarium_list %}
    {% include "water_quality_management/includes/recent_log_entries_list.html" with object_list=log_entry_list %}
</section>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}