{% extends "../base.html" %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Update Profile{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Update Profile</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">Update Profile</h2>
<sl-card style="display: block; max-width: 600px; margin: auto;padding: 0.5em;">
    <form id="aquariumForm" hx-post="{% url 'accounts:update-user-profile' object.pk %}" hx-target="#pageContainer" hx-push-url="true">{% csrf_token %}
        {{ form.as_p }}
    </form>
    <sl-button-group slot="footer" style="display: block;">
        <sl-button style="width: 50%;" href="{% url 'accounts:user-profile' user.pk %}" hx-target="#pageContainer" hx-push-url="true">Cancel</sl-button>
        <sl-button style="width: 50%;" variant="success" form="aquariumForm" type="submit">Save</sl-button>
    </sl-button-group>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}