{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Delete Account{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Delete Account</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">Delete Account?</h2>
<sl-card style="display:block;max-width:600px;margin:auto;">
    <p>Are you sure you want to <b>permanently</b> delete your account?<br><br>This action is <b>irreversible</b>.<br><br>You will lose <b>all</b> saved data.</p>
    <sl-button-group slot="footer" style="display: block;">
        <sl-button style="width: 50%;" variant="danger" outline hx-post="{% url 'accounts:delete-user-profile' object.pk %}" hx-target="#pageContainer" hx-push-url="true">Delete</sl-button>
        <sl-button style="width: 50%;" variant="success" hx-get="{% url 'accounts:user-profile' user.id %}" hx-target=#pageContainer hx-push-url="true">Cancel</a>
    </sl-button-group>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}
