{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth account %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Sign In{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Sign In</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">{% trans "Sign In" %}</h2>
    {% if not SOCIALACCOUNT_ONLY %}
    {% url "account_signup" as signup_url %}
    <sl-card style="display:block;max-width:600px;margin:auto;">
        <form id="form" action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            {{ form.login }}
            <br>
            {{ form.password }}
            <br>
            {{ form.remember }}
            {{ form.non_field_errors }}
            <br>
            {{ redirect_field }}
            <br>
            {{ form.turnstile }}
            <br>
        </form>
        <a href="{% url 'account_reset_password' %}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">Forgot password?</a>
        <sl-button-group slot="footer" style="display: block;">
            <sl-button style="width: 50%;" href="{{ signup_url }}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">Sign Up</sl-button>
            <sl-button style="width: 50%;" variant="success" form="form" type="submit">{% trans "Sign In" %}</sl-button>
        </sl-button-group>
    </sl-card>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        <br>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}