{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth account %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| {% trans "Sign In" %}</title>
{% else %}
{% block title %}{% trans "Sign In" %}{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2>{% trans "Sign In" %}</h2>
    {% if not SOCIALACCOUNT_ONLY %}
    {% url "account_signup" as signup_url %}
        <form action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            {{ form.login }}
            <br>
            {{ form.password }}
            <br>
            {{ form.remember }}
            {{ form.non_field_errors }}
            <br>
            {{ redirect_field }}
            {{ form.turnstile }}
            <button type="submit">{% trans "Sign In" %}</button>
        </form>
        <p style="display: block; text-align: center;">
            {% blocktranslate %}If you have not created an account yet, then please<a href="{{ signup_url }}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">sign up</a>first.{% endblocktranslate %}
            <br>
            <br>
            <a href="{% url 'account_reset_password' %}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">Forgot password?</a>
        </p>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}