{% extends "account/base_manage.html" %}

{% load allauth i18n %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| {% trans "Sign Out" %}</title>
{% else %}
{% block title %}{% trans "Sign Out" %}{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block breadcrumbs %}
<nav id="breadcrumbContainer" x-data style="display:none;" hx-swap-oob="true" x-cloak></nav>
{% endblock breadcrumbs %}

{% block content %}
<h2>{% trans "Sign Out" %}</h2>
<p>{% trans 'Are you sure you want to sign out?' %}</p>
    <form hx-post="{% url 'account_logout' %}" hx-target="#pageContainer" hx-push-url="true">
        {% csrf_token %}
        {{ redirect_field }}
        {% element button type="submit" %}
            {% trans 'Sign Out' %}
        {% endelement %}
    </form>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}
