{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Password Reset{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Password Reset</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}
