{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Change Password{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Change Password</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">{% trans "Change Password" %}</h2>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}
