{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| {% trans "Change Password" %}</title>
{% else %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block content %}
    <h2>{% trans "Change Password" %}</h2>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}
