{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load partials %}

{% partialdef page-partial %}

{% if not request.htmx %}
    {% block title %}Change Password{% endblock title %}
{% else %}
    <title hx-swap-oob="innerHTML:title">AWQA| Change Password</title>
    {% include "includes/messages.html" %}
    {% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
    <h2 style="max-width: 600px; margin: auto;">
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h2>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form hx-post="{{ action_url }}" hx-target="#pageContainer" hx-push-url="true">
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
            {% element button type="submit" name="action" %}
                {% trans 'Change Password' %}
            {% endelement %}
        </form>
    {% endif %}
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}