{% extends "account/base_entrance.html" %}

{% load allauth i18n %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| {% trans "Sign Up" %}</title>
{% else %}
{% block title %}{% trans "Sign Up" %}{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block breadcrumbs %}
<nav id="breadcrumbContainer" x-data style="display:none;" hx-swap-oob="true" x-cloak></nav>
{% endblock breadcrumbs %}

{% block content %}
    <h2>{% trans "Sign Up" %}</h2>
    {% url "account_login" as login_url %}
    {% if not SOCIALACCOUNT_ONLY %}
        <form id="form" action="{% url 'account_signup' %}" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.username.errors }}
            <br>
            {{ form.email }}
            {{ form.email.errors }}
            <br>
            {{ form.password1 }}
            {{ form.password1.errors }}
            <br>
            {{ form.password2 }}
            {{ form.password2.errors }}
            <br>
            {{ redirect_field }}
            {{ form.turnstile }}
            <button type="submit">{% trans "Sign Up" %}</button>
            <br>
        </form>
        
        <p style="display: block; text-align: center;">{% blocktranslate %}Already have an account? Then please<a href="{{ login_url }}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">sign in.</a>{% endblocktranslate %}</p>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}