{% load partials %}

{% partialdef page-partial %}
{% if messages %}
<section id="messageContainer" 
    x-data="{messages: [{% for message in messages %}'{{ message }}{% if not forloop.last %}', '{% endif %}'{% endfor %}]}"
    x-show="messages.length > 0"
    hx-swap-oob="true"
    x-cloak>
    {% if messages %}
    <ul class="itemContainer">
        <template x-for="(message, index) in messages" :key="index">
        <li>
            <span x-text="message"></span>
            <span @click="messages = []" style="cursor: pointer; float: right;">X</span>
        </li>
        </template>
    </ul>
    {% endif %}
</section>
{% else %}
<section id="messageContainer" style="display: none;" hx-swap-oob="true"></section>
{% endif %}
{% endpartialdef %}

{% partial page-partial %}
