{% if messages %}
<section id="messageContainer" x-data="{messages: {{ messages|length }}}" x-show="messages > 0" @sl-after-hide="$data.messages--" hx-swap-oob="true" x-cloak>
    {% if messages %}
    {% for message in messages %}
    <sl-alert open closable variant="success" class="alert-closable">
        <sl-icon slot="icon" name="check2-circle"></sl-icon>
        <b>{{ message }}</b>
    </sl-alert>
    {% endfor %}
    <script>
        const alert = document.querySelector('.alert-closable');
        alert.addEventListener('sl-after-hide', () => {
          setTimeout(() => (alert.open = true), 2000);
        });
    </script>
    {% endif %}
</section>
{% else %}
<section id="messageContainer" style="display: none;" hx-swap-oob="true" x-cloak></section>
{% endif %}
