{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<ul id="appNav" hx-swap-oob="true">{% include "includes/app_nav.html" %}</ul>
{% endif %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Dashboard</title>
{% else %}
{% block title %}Dashboard{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block breadcrumbs %}
<nav id="breadcrumbContainer" x-data style="display:none;" hx-swap-oob="true" x-cloak></nav>
{% endblock breadcrumbs %}

{% block content %}
<h2>Dashboard</h2>
<section class="widgetContainer">
    <article>
        {% include "water_quality_management/includes/recent_aquariums_list.html" with object_list=aquarium_list %}
    </article>
    <article>
        {% include "water_quality_management/includes/recent_log_entries_list.html" with object_list=log_entry_list %}
    </article>
</section>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}