{% extends "../base.html" %}

{% load static %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<ul id="appNav" hx-swap-oob="true">{% include "includes/app_nav.html" %}</ul>
{% endif %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Aquarium Water Quality Analytics</title>
{% else %}
{% block title %}Aquarium Water Quality Analytics{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block meta %}
<meta name="description" content="Test your water, log the results, and analyze trends to maintain a thriving ecosystem.">
{% endblock meta %}

{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'core/landing_page.css' %}">
{% endblock css %}

{% block js %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebApplication",
    "name": "AWQA",
    "url": "https://www.awqanalytics.com",
    "applicationCategory": "Productivity",
    "operatingSystem": "All",
    "browserRequirements": "Requires JavaScript enabled and modern browser support.",
    "offers": {
    "@type": "Offer",
    "price": "0.00",
    "priceCurrency": "USD",
    "eligibleRegion": {
        "@type": "Country",
        "name": "United States"
    }
    },
    "description": "Test your water, log the results, and analyze trends to maintain a thriving ecosystem.",
    "logo": "https://www.awqanalytics.com/static/logo.webp",
    "author": {
    "@type": "Organization",
    "name": "AWQA"
    },
    "potentialAction": {
    "@type": "ViewAction",
    "target": "https://www.awqanalytics.com/accounts/signup/",
    "name": "Sign Up for Free"
    }
}
</script>
{% endblock js %}
{% block content %}
<section style="text-align: center; max-width: 700px; margin: auto;">
    <h2>Aquarium Water Quality Analytics</h2>
    <sl-card>Test your water, log the results, and analyze trends to maintain a thriving ecosystem.</sl-card>
</section>
<br>
<h3 style="max-width: 600px; margin: auto;">Key Features</h3>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h4 slot="header">Visualize Your Data</h4>
    <img src="{% static 'core/chart.webp' %}" style="max-width: 100%;"/>
    <p slot="footer" style="text-indent: 25px;">Turn your log entries into interactive charts to visualize water quality trends over time. Spot issues early and adjust your care routine accordingly.</p>
</sl-card>
<br>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h4 slot="header">Personalized AI Care Suggestions</h4>
    <sl-alert open variant="success">
        <sl-icon slot="icon" name="pencil"></sl-icon>
        <b><p>Have AI generate personalized care instructions based on the parameters you record in your log entries!</p></b>
    </sl-alert>
    <sl-button variant="success" slot="footer" size="large" href="{% url 'account_signup' %}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer"><sl-icon slot="prefix" name="pencil" ></sl-icon>Get Started</sl-button>
</sl-card>
<br>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h4 slot="header">Cloud Based Storage</h4>
    
    <p style="text-indent:25px;">Access your aquarium data anytime, anywhere. Our secure cloud-based storage ensures your water quality logs, history, and insights are always backed up and synced across all your devices. Stay connected to your aquariums, whether you're at home or on the go!</p>
</sl-card>
<br>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h4 slot="header">Multi-Aquarium Management</h4>
    <img src="{% static 'core/recent_aquariums.webp' %}" style="display: block; max-width: 400px; width: 100%; margin: auto;"/>
    <p slot="footer" style="text-indent:25px;">Manage water quality for all your aquariums in one convenient place. Each tank gets its own dedicated logbook to help you stay organized. Start with up to three aquariums for free, with the option to add more as your collection grows!</p>
</sl-card>
<br>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h4 slot="header">Features under Development</h4>
    <p>We're excited to share the upcoming tools we have under development, suggested by the community:</p>
    <ul style="list-style-type: disc;">
    <li>
        <b>Log Entry Archival</b><br>
        Easily organize and archive older log entries while keeping your current data front and center. Access historical logs whenever you need them.
    </li>
    <br>
    <li>
        <b>Tank Event Tracking</b><br>
        Stay on top of every detail with the ability to log events like adding livestock, planting new flora, feedings, water changes, and more.
    </li>
    <br>
    <li>
        <b>Expense Tracking</b><br>
        Keep an eye on your aquarium budget. Record and categorize expenses for livestock, equipment, maintenance, and supplies in one place.
    </li>
    <br>
    <li>
        <b>Livestock Management</b><br>
        Track detailed information about your fish and invertebrates, including species, health, lifespan, and compatibility data.
    </li>
    <br>
    <li>
        <b>Plant Management</b><br>
        Manage your aquatic plants with ease. Monitor their growth, maintenance needs, and compatibility with your tank's environment.
    </li>
    <br>
    <li>
        <b>Alerts & Reminders</b><br>
        Never miss a critical task again. Set custom alerts for feedings, water changes, equipment maintenance, and more.
    </li>
    </ul>
</sl-card>
<br>
<sl-card style="display: block; max-width: 600px;margin: auto;">
    <h3 style="text-align: center;">Ready to Get Started?</h3>
    <sl-button variant="success" size="large" style="display: block;" href="{% url 'account_signup' %}" hx-boost="true" hx-swap="show:unset" hx-target="#pageContainer">Sign Up for Free</sl-button>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}