{% extends "../base.html" %}
{% load static %}

{% block title %} - Aquarium: {{ object.name}}{% endblock title %}

{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'water_quality_management/aquarium_detail.css' %}">
{% endblock css %}

{% block js %}
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
{% endblock js %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'aquarium-list' object.user.pk %}">{% if object.user != user %}{{ object.user }}'s{% else %}My{% endif %} Aquarium List</a></li>
<li><strong>{{ object.name }}</strong></li>
{% endblock breadcrumbs %}

{% block content %}
<section class="{% if object.user == user %}flexContainer{% else %}itemContainer{% endif %}">
    <h2>{{ object.name }}</h2>
    {% if object.user == user %}
    <nav class="dropdownContainer" x-data="{isOpen: false}">
        <span @click="isOpen = ! isOpen" class="settingsIcon" :class="{'active':isOpen}">settings</span>
        <ul class="dropdownContent" x-cloak x-show="isOpen" @click.away="isOpen = false">
            <li><p>General</p></li>
            <li><a class="button" href="{% url 'update-aquarium' object.pk %}">Update Aquarium</a></li>
            <li><a class="button" href="{% url 'delete-aquarium' object.pk %}">Delete Aquarium</a></li>
        </ul>
    </nav>
    {% endif %}
</section>

<section class="itemContainer labelContainer">
    <p class="label">{% if object.is_private %}Private{% else %}Public{% endif %}</p>
</section>

<section id="tabsContainer" x-data="{ tab: 'Log' }">
    <nav>
        <a :class="{ 'active': tab === 'Log' }" @click.prevent="tab = 'Log'" href="#"><span class="viewlistIcon">view_list</span></a>
        <a :class="{ 'active': tab === 'Chart' }" @click.prevent="tab = 'Chart'" href="#" ><span class="monitoringIcon">monitoring</span></a>
    </nav>
    <div class="displayTab" x-cloak x-show="tab === 'Log'">
        <article class="{% if object.user == user %}flexContainer{% else %}itemContainer{% endif %}">
            <h3>Water Quality Log</h3>
            {% if object.user == user %}
                <a class="button" href="{% url 'add-log-entry' object.pk %}">Add Log Entry</a>
            {% endif %}
        </article>
        {% if object.freshwaterparameterlogentry_set.all %}
        <table id="waterQualityLog">
            <tr>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for entry in object.freshwaterparameterlogentry_set.all %}
                <tr>
                    {% url 'log-entry-detail' entry.pk as log_entry_detail_url %}
                    {% if log_entry_detail_url %}
                        <td><a href="{{ log_entry_detail_url }}">{{ entry.date_created|date:"D M d, Y" }}</a></td>
                        <td><a href="{{ log_entry_detail_url }}">{{ entry.date_created|time:"g:i A" }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p style="text-align: center;">There are currently no log entries.</p>
        {% endif %}
    </div>
    <div class="displayTab" x-cloak x-show="tab === 'Chart'">
        <div id="aquariumChart"></div>
    </div>
</section>
{% endblock content %}

{% block footer_js %}
{{data|json_script:"chart-data"}}
<script src="{% static 'water_quality_management/aquarium_chart.js' %}"></script>
{% endblock footer_js %}