{% extends "../base.html" %}

{% load static %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Aquarium: {{ object.name }}</title>
{% else %}
{% block title %}Aquarium: {{ object.name }}{% endblock title %}
{% endif %}

{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'water_quality_management/aquarium_detail.css' %}">
{% endblock css %}

{% block js %}

{% endblock js %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<section class="flexContainer">
    <h2 style="max-width: 600px; margin: auto;">{{ object.name }}</h2>
    <sl-dropdown>
        <sl-icon-button name="gear" label="Settings" slot="trigger" style="font-size: 2em; margin-top: 20px; background-color: white; border-radius: 5px; border: 1px solid lightgrey;"></sl-icon-button>
        <sl-menu>
            <sl-menu-label>General</sl-menu-label>
            <sl-menu-item hx-get="{% url 'water_quality_management:update-aquarium' object.pk %}" hx-target=#pageContainer hx-push-url="true">Update Aquarium</sl-menu-item>
            <sl-menu-item hx-get="{% url 'water_quality_management:delete-aquarium' object.pk %}" hx-target=#pageContainer hx-push-url="true">Delete Aquarium</sl-menu-item>
        </sl-menu>
    </sl-dropdown>
</section>

<section id="tabsContainer" x-data="{ tab: 'Log' }">
    <nav>
        <a :class="{ 'active': tab === 'Log' }" @click.prevent="tab = 'Log'"><span class="viewlistIcon">view_list</span></a>
        <a hx-get="{% url 'water_quality_management:render-chart' object.pk 30 %}" hx-indicator="#chartSpinner" hx-target="#aquariumChart" :class="{ 'active': tab === 'Chart' }" @click.prevent="tab = 'Chart'"><span class="monitoringIcon">monitoring</span></a>
    </nav>
    <div class="displayTab" x-cloak x-show="tab === 'Log'">
        <h3 style="text-align: center; padding: 1em;">Water Quality Log</h3>
        {% if object.freshwaterparameterlogentry_set.all %}
        <sl-card style="display: block;max-width: 600px; margin: auto; margin-bottom: 1em;">
            <div slot="header">
            {% include "includes/paginate.html" %}
            </div>
            <ul id="waterQualityLog">
                {% for entry in page_obj %}
                        {% url 'water_quality_management:log-entry-detail' entry.pk as log_entry_detail_url %}
                        {% if log_entry_detail_url %}
                            <li><a hx-get="{{ log_entry_detail_url }}" hx-target=#pageContainer hx-push-url="true">{{ entry.date_created }}</a></li>
                        {% endif %}
                {% endfor %}
            </ul>
            <div slot="footer">
                <sl-button style="line-height: 60px;" variant="success" hx-get="{% url 'water_quality_management:add-log-entry' object.pk %}" hx-target=#pageContainer hx-push-url="true">Add Log Entry<sl-icon slot="suffix" name="plus-lg"></slot-icon></sl-button>
            </div>
        </sl-card>
        {% else %}
            <p style="text-align: center;">There are currently no log entries.</p>
        {% endif %}
    </div>
    <div class="displayTab" x-cloak x-show="tab === 'Chart'">
        <div id="aquariumChart">
            <div style="padding: 1em;">
                <br>
                <sl-skeleton style="height: 2em;"></sl-skeleton>
                <br>
                <sl-skeleton style="height: 7em;"></sl-skeleton>
                <br>
                <sl-skeleton style="height: 7em;"></sl-skeleton>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}