{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Update Aquarium</title>
{% else %}
{% block title %}Update Aquarium{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">Update Aquarium</h2>
<sl-card style="display: block; margin: auto; max-width: 600px;">
<form id="aquariumForm" method="post" action="{% url 'water_quality_management:update-aquarium' object.pk %}">
    {% csrf_token %}
    {{ form.name }}
    {{ form.name.errors }}
    <br>
    {{ form.description }}
    {{ form.description.errors }}
</form>
<sl-button-group slot="footer" style="display: block;">
    <sl-button style="width: 50%;" hx-get="{% url 'water_quality_management:aquarium-detail' object.id %}" hx-target=#pageContainer hx-push-url="true">Cancel</sl-button>
    <sl-button style="width: 50%;" variant="success" type="submit" form="aquariumForm">Save</sl-button>
</sl-button-group>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}