{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| {% if list_owner %}{{ list_owner }}'s{% else %}My{% endif %} Aquarium List</title>
{% else %}
{% block title %}{% if list_owner %}{{ list_owner }}'s{% else %}My{% endif %} Aquarium List{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block breadcrumbs %}
{% if request.htmx %}
<nav id="breadcrumbContainer" x-data x-show="$refs.breadcrumbs.innerHTML.trim().length > 0" hx-swap-oob="true">
    <ul x-ref="breadcrumbs">
        {% partialdef breadcrumb-partial %}
        <li><a hx-get="{% url 'dashboard' %}" hx-target=#pageContainer hx-push-url="true">Dashboard</a></li>
        {% if list_owner %}
            <li><a hx-get="{% url 'user-profile' list_owner.pk %}" hx-target=#pageContainer hx-push-url="true">{{ list_owner }}</a></li>
        {% endif %}
        <li><strong>{% if list_owner %}{{ list_owner }}'s{% else %}My{% endif %} Aquarium List</strong></li>
        {% endpartialdef%}
        {% partial breadcrumb-partial %}
    </ul>
</nav>
{% else %}
{% partial breadcrumb-partial %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<h2>{% if list_owner %}{{ list_owner }}'s{% else %}My{% endif %} Aquarium List</h2>
<ul>
    {% for aquarium in object_list %}
        <li><a hx-get="{% url 'water_quality_management:aquarium-detail' aquarium.pk %}" hx-target=#pageContainer hx-push-url="true">{{ aquarium.name }}</a></li>
    {% endfor %}
</ul>
{% if not list_owner %}
    {% if user.can_create_aquarium == True %}
        <a class="button" hx-get="{% url 'water_quality_management:create-aquarium' %}" hx-target=#pageContainer hx-push-url="true">Add Aquarium</a>
    {% endif %}
{% endif %}
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}