{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Update Aquarium</title>
{% else %}
{% block title %}Update Aquarium{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% endif %}

{% block breadcrumbs %}
{% if request.htmx %}
<nav id="breadcrumbContainer" x-data x-show="$refs.breadcrumbs.innerHTML.trim().length > 0" hx-swap-oob="true">
    <ul x-ref="breadcrumbs">
        {% partialdef breadcrumb-partial %}
        <li><a hx-get="{% url 'dashboard' %}" hx-target=#pageContainer hx-push-url="true">Dashboard</a></li>
        <li><a hx-get="{% url 'water_quality_management:aquarium-list' object.user.pk %}" hx-target=#pageContainer hx-push-url="true">My Aquaruim List</a></li>
        <li><a hx-get="{% url 'water_quality_management:aquarium-detail' object.id %}" hx-target=#pageContainer hx-push-url="true">{{ object.name }}</a></li>
        <li><strong>Update Aquarium</strong></li>
        {% endpartialdef%}
        {% partial breadcrumb-partial %}
    </ul>
</nav>
{% else %}
{% partial breadcrumb-partial %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<h2>Update Aquarium</h2>
<form id="aquariumForm" hx-post="{% url 'water_quality_management:update-aquarium' object.pk %}" hx-target="#pageContainer" hx-push-url="true">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<div class="flexContainer">
    <input form="aquariumForm" class="button" type="submit" value="Save">
    <a class="button" hx-get="{% url 'water_quality_management:aquarium-detail' object.id %}" hx-target=#pageContainer hx-push-url="true">Cancel</a>
</div>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}