{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Add Log Entry</title>
{% else %}
{% block title %}Add Log Entry{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">Add Log Entry</h2>
<sl-card style="display: block; margin: auto; max-width: 600px;">
    <h3 slot="header">{{ aquarium.name }}</h3>
    <form id="aquariumForm" method="post" action="{% url 'water_quality_management:add-log-entry' aquarium.pk %}">
        {% csrf_token %}
        {% csrf_token %}
        {{ form.ph }}
        {{ form.ph.errors }}
        <br>
        {{ form.high_range_ph }}
        {{ form.high_range_ph.errors }}
        <br>
        {{ form.ammonia }}
        {{ form.ammonia.errors }}
        <br>
        {{ form.nitrite }}
        {{ form.nitrite.errors }}
        <br>
        {{ form.nitrate }}
        {{ form.nitrate.errors }}
        <br>
        {{ form.notes }}
        {{ form.notes.errors }}
    </form>
    <sl-button-group slot="footer" style="display: block;">
        <sl-button style="width: 50%;" hx-get="{% url 'water_quality_management:aquarium-detail' aquarium.id %}" hx-target=#pageContainer hx-push-url="true">Cancel</sl-button>
        <sl-button style="width: 50%;" variant="success" type="submit" form="aquariumForm">Save</sl-button>
    </sl-button-group>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}