{% extends "../base.html" %}

{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Delete Log Entry</title>
{% else %}
{% block title %}Delete Log Entry{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<h2 style="max-width: 600px; margin: auto;">{{ object.date_created }}</h2>
<sl-card style="display: block; margin: auto; max-width: 600px;">
    <h3 slot="header">{{ object.aquarium.name }}</h3>
    <p>Are you sure you want to <b>delete</b> this log entry?<br><br>This action is <b>irreversible</b>.</p>
    <sl-button-group slot="footer" style="display: block;">
        <sl-button style="width: 50%;" variant="danger" outline hx-post="{% url 'water_quality_management:delete-log-entry' object.pk %}" hx-target="#pageContainer" hx-push-url="true">Delete</sl-button>
        <sl-button style="width: 50%;" variant="success" hx-get="{% url 'water_quality_management:log-entry-detail' object.pk %}" hx-target=#pageContainer hx-push-url="true">Cancel</a>
    </sl-button-group>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}

