{% extends "../base.html" %}

{% block title %} - Update Log Entry{% endblock title %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'aquarium-list' object.user.pk %}">My Aquaruim List</a></li>
<li><a href="{% url 'aquarium-detail' object.aquarium.id %}">{{ object.aquarium.name }}</a></li>
<li><a href="{% url 'log-entry-detail' object.id %}">Log Entry: {{ object.date_created|date:'d/m/y' }}</a></li>
<li><strong>Update Log Entry</strong></li>
{% endblock breadcrumbs %}

{% block content %}
<section class="itemContainer">
    <h2>Update Log Entry</h2>
    <p>Aquarium: <b>{{ object.aquarium.name }}</b></p>
    <form id="aquariumForm" method="post">{% csrf_token %}
        {{ form.as_p }}
    </form>
    <div class="flexContainer">
        <input form="aquariumForm" class="button" type="submit" value="Save">
        <a class="button" href="{% url 'log-entry-detail' object.pk %}">Cancel</a>
    </div>
</section>
{% endblock content %}