{% extends "../base.html" %}

{% block title %} - Delete Log Entry{% endblock title %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'aquarium-list' object.user.pk %}">My Aquaruim List</a></li>
<li><a href="{% url 'aquarium-detail' object.aquarium.pk %}">{{ object.aquarium.name }}</a></li>
<li><a href="{% url 'log-entry-detail' object.pk %}">Log Entry: {{ object.date_created|date:'d/m/y' }}</a></li>
<li><strong>Delete Log Entry</strong></li>
{% endblock breadcrumbs %}

{% block content %}
<section class="itemContainer">
    <h2>{{ object.date_created|date:"D M d, Y" }}<span style="float: right;" class="fredoka-medium">{{ object.date_created|time:"g:i A" }}</span></h2>
    <p>Aquarium: <b>{{ object.aquarium.name }}</b></p>
    <form id="aquariumForm" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this log entry?</p>
        {{ form.as_p }}
    </form>
    <div class="flexContainer">
        <input form="aquariumForm" class="button" type="submit" value="Confirm">
        <a class="button" href="{% url 'log-entry-detail' object.pk %}">Cancel</a>
    </div>
</section>
{% endblock content %}

