{% extends "../base.html" %}

{% load tz %}
{% load partials %}

{% partialdef page-partial %}

{% if request.htmx %}
<title hx-swap-oob="innerHTML:title">AWQA| Log Entry: {{ object.date_created|date:'d/m/y' }}</title>
{% else %}
{% block title %}Log Entry: {{ object.date_created|date:'d/m/y' }}{% endblock title %}
{% endif %}

{% if request.htmx %}
{% include "includes/messages.html" %}
{% include "includes/breadcrumbs.html" %}
{% endif %}

{% block content %}
<div class="flexContainer">
<h2 style="max-width: 600px; margin: auto;">{{ object.date_created }}</h2>
<sl-dropdown>
    <sl-icon-button name="gear" label="Settings" slot="trigger" style="font-size: 2em; margin-top: 20px; background-color: white; border-radius: 5px; border: 1px solid lightgrey;"></sl-icon-button>
    <sl-menu>
        <sl-menu-label>General</sl-menu-label>
        <sl-menu-item hx-get="{% url 'water_quality_management:update-log-entry' object.pk %}" hx-target=#pageContainer hx-push-url="true">Update Log Entry</sl-menu-item>
        <sl-menu-item hx-get="{% url 'water_quality_management:delete-log-entry' object.pk %}" hx-target=#pageContainer hx-push-url="true">Delete Entry</sl-menu-item>
    </sl-menu>
</sl-dropdown>
</div>
<sl-card style="display:block;max-width:600px;margin:auto;">
    <h3 slot="header">{{ object.aquarium.name }}</h3>
    <ul>
        <li><b>pH: </b>{{ object.ph }}</li>
        <br>
        <li><b>High Range pH: </b>{{ object.high_range_ph }}</li>
        <br>
        <li><b>Ammonia: </b>{{ object.ammonia }}ppm</li>
        <br>
        <li><b>Nitrite: </b>{{ object.nitrite }}ppm</li>
        <br>
        <li><b>Nitrate: </b>{{ object.nitrate }}ppm</li>
        {% if object.last_updated != object.date_created %}
            <br>
            <li><b>Last Updated: </b>{{ object.last_updated }}</li>
        {% endif %}
        {% if object.notes %}
            <br>
            <li>
                <b>Notes: </b>
                <p>{{ object.notes }}</p>
            </li>
        {% endif %}
    </ul>
</sl-card>
{% endblock content %}

{% endpartialdef %}

{% partial page-partial %}